@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
  padding: 0rem;
  margin: 0rem;
  border: 0rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  scrollbar-gutter: stable;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 40%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* ================================== */
body {
  font-family: "Roboto", sans-serif;

}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width:800px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container__title {
  margin-top: 30px;
  padding: 24px 97px;
  max-width: 600px;
  height: 300px;
  border: 5px solid #9da6ff;
  background-color: #d11a1a;
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  font-variant: small-caps;
  text-align: center;
}

@media (max-width:428px) {
  .container__title {
    max-width: 428px;
    height: 350px;
    padding: 24px 15px;
  }

  .container__subtitle {
    font-size: 35px;
  }
}

@media (max-width:390px) {
  .container__title {
    max-width: 390px;
    padding: 24px 15px;
    flex-direction: column;
    align-items: center;
    font-size: 44px;
  }

  .container__subtitle {
    font-size: 35px;
  }
}

.container__subtitle {
  font-size: 34px;
  font-weight: 500;
  padding: 20px 0 10px 0;
}

.container__link {
  margin: 10px 0 15px 0;
  display: block;
  padding: 20px 25px;
  border: 5px solid #000000;
  background-color: #fff;
  color: #333;
  font-size: 50px;
  text-align: center;
  /* font-variant: small-caps; */
  font-weight: 900;
}

/* =========================================================== */
.in {
  background-color: #fff;
}

.container__content {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 44px;
  margin-top: 20px;
  max-width: 600px;
}

.cont {
  border-bottom: dashed;
  max-width: 600px;
}

.container__content p {
  width: 400px;
  padding: 5px 0;
  font-size: 32px;
}


.container__tit {
  margin-top: 30px;
  padding: 24px 100px;
  max-width: 600px;
  height: 240px;
  background-color: #d11a1a;
  font-size: 66px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.tit {
  width: 660px;
  height: 290px;
}

@media (max-width:900px) {
  .tit {
    height: 300px;
  }
}

@media (max-width:900px) {
  .container__tit {
    margin: 30px 0;
    padding: 24px 30px;
    max-width: 600px;
    height: 290px;
    background-color: #d11a1a;
    color: #fff;
    font-size: 66px;
    font-weight: 900;
    text-align: center;
  }

  .tit {
    width: 440px;
    height: 290px;
  }

  .tit-tit {
    width: 380px;
    height: 180px;
  }

}

@media (max-width:428px) {
  .container__tit {
    width: 420px;
    font-size: 60px;
    height: 260px;
  }

  .tita {
    height: 240px;
  }

  .tit-tit {
    width: 380px;
    height: 180px;
  }
}

@media (max-width:390px) {
  .container__tit {
    margin-top: 30px;
    padding: 24px 30px;
    width: 380px;
    height: 310px;
    font-size: 60px;
  }

  .container__content {
    font-size: 25px;
    max-width: 370px;
  }

  .ner__tit {
    width: 380px;
    height: 250px;
    font-size: 61px;
  }

  .tit-tit {
    width: 380px;
    height: 180px;
  }

  .tita {
    width: 380px;
    height: 250px;
  }

  img {
    width: 180px;
  }
}